#playground { text-align:center }
article { display:inline-block; margin:1em 2em; position:relative }
article h2 {
  margin:0; padding:0;
  position:absolute; width:100%; top:100%;
	font-size:100%
}
.bar {
  display: inline-block;
  width: 15px;
}

#cameraView {
    margin-top: -80px;
    margin-left: 146px;
}

body {
  font-weight: lighter;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: -20px;
}

.option {
  cursor: pointer;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  padding: 20px;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 40px;
}

.option:hover {
  background-color: white;
  color: black;
}

.go-button, .countdown, .checkbox, .counter {
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -100px;
  position: absolute;
}

.checkbox {
  margin-left: 348px;
  margin-top: -209px;
  display: none;
}

.counter {
  margin-left: 500px;
}

.countdown, .counter {
  font-size: 100px;
  margin-left: -35px;
  margin-top: -110px;
  display: none;
}

.counter {
  display: block;
    font-size: 40px;
    margin-left: -403px;
    margin-top: -200px;
    background-color: black;
    padding: 10px;
    opacity: 0.5;
  display: none;
}