{% extends "admin_template.html" %}

{% block content %}
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Officers
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><img src="/assets/tim.jpg" width="30px"> Tim Taplin</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <a href="/dashboard?officer_id=3" style="text-decoration: none;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><img src="/assets/rob.jpg" width="30px"> Robert Boling</h3>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><img src="/assets/devin.jpg" width="30px"> Devin Finzer</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->
     {% endblock %}