{% extends "app.html" %}

{% block body %}
<img src="/assets/menu.png" style="position: absolute; left:0px; bottom:0px;" width="300px">

{% endblock %}

{% block scripts %}
    <script>
        //$('body').css('background-color', "white");
        function poll() {
            setTimeout(function() {
                $.get("/dashboard_data", function(response) {
                    var rawDataList = JSON.parse(response);
                    var dataList = [];
                    for (var l = 0; l < rawDataList.length; l++) {
                        var aDataPoint = rawDataList[l];
                        if (aDataPoint['FaceAnalysisResults'] && aDataPoint['FaceAnalysisResults'].length > 0) {
                            dataList.push(aDataPoint);
                        }
                    }
                    $("#data").html("");
                    var dataOut = [];
                    var k = 0;
                    for (var i = 0; i < dataList.length; i++) {
                        var theDataPoint = dataList[i];
                        var analysis = theDataPoint['FaceAnalysisResults'];
                        if (analysis && analysis.length > 0) {
                            var data = analysis[0]['EmotionResult'];
                            var containerDiv = $("<div>").addClass("containerDiv");
                            var dataPointOut = {'age': k, 'population': data['Joy']};
                            dataOut.push(dataPointOut);
                            var emotions = ['Joy', 'Neutral', 'Surprise', 'Sadness', 'Disgust', 'Anger', 'Fear'];
                            var pieData = [];
                            for (j = 0; j < emotions.length; j++) {
                                var newElement = $("<div>").text(emotions[j] + ": " + data[emotions[j]]);
                                containerDiv.append(newElement);
                                pieData.push({
                                    'age': emotions[j],
                                    'population': data[emotions[j]]
                                });
                            }
                            if (i == 0) {
                                plotData(pieData);
                                $("#data").append(containerDiv);
                            }
                        }
                        k++;
                    }
                    poll();
                });
            }, 200)
        }
        poll();



var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scaleOrdinal()
    .range(["#417505", "#7ED321", "#B8E986", "#D9F0FF", "#F8E81C", "#F6A623", "#D0011B"]);

var arc = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.population; });

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

INITIAL = true;

function plotData(data) {
      if (INITIAL) {
        var g = svg.selectAll(".arc")
          .data(pie(data))
          .enter()
          .append("g")
          .attr("class", "arc");

          g.append("path")
              .attr("d", arc)
              .style("fill", function(d) { return color(d.data.age); });
{##}
{#          g.append("text")#}
{#              .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })#}
{#              .attr("dy", ".35em")#}
{#              .text(function(d) { return d.data.age; });#}
      } else {
        console.log(data);
        var path = svg.selectAll("path").data(pie(data)); // compute the new angles
         path.transition().duration(750).attrTween("d", arcTween);
      }
      INITIAL = false;

}

// Store the displayed angles in _current.
// Then, interpolate from _current to the new angles.
// During the transition, _current is updated in-place by d3.interpolate.
function arcTween(a) {
  var i = d3.interpolate(this._current, a);
  this._current = i(0);
  return function(t) {
    return arc(i(t));
  };
}

function type(d) {
  d.population = +d.population;
  return d;
}

    </script>
{% endblock %}