{% extends "admin_template.html" %}

{% block content %}
<style>

/*.axis--x path {
  display: none;
}*/

/*.line {
  stroke: steelblue;
  stroke-width: 1px;
  fill: none;
}*/

.line {
  stroke-width: 1px;
  fill: none;
}

svg {
  background-color: white;
}

#legend_data {
  background-color: white;
  text-align: center;
  margin-left:auto;
  margin-right: 20px;
  font-size: 16px;
}
#chart_title {
  background-color: white;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  color: black;
}

</style>

<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Officer Robert Boling <small>Currently reporting...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Real time analysis
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  Pulling results from Rob's report...
                        </div>
                    </div>
                </div>

                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Risk Factors Over Time</h3>
                            </div>
                            <div class="panel-body">
                                <div><svg width="580" height="300" id='over-time'></svg></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Risk Factors Over Time</h3>
                            </div>
                            <div class="panel-body">
                                <div id="pie-chart"></div>
                            </div>
                            <img src="/assets/menu.png" width="100px">
                        </div>
                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->
     {% endblock %}

     {% block scripts %}
    <script>
        //$('body').css('background-color', "white");
        function poll() {
            setTimeout(function() {
                $.get("/dashboard_data", function(response) {
                    var rawDataList = JSON.parse(response);
                    var truncation = 20;
                    if (rawDataList.length > truncation) {
                      rawDataList = rawDataList.slice(rawDataList.length - truncation, rawDataList.length - 1);
                    }
                    var dataList = [];
                    for (var l = 0; l < rawDataList.length; l++) {
                        var aDataPoint = rawDataList[l];
                        if (aDataPoint['FaceAnalysisResults'] && aDataPoint['FaceAnalysisResults'].length > 0) {
                            dataList.push(aDataPoint);
                        }
                    }
                    $("#data").html("");
                    var dataOut = [];
                    var k = 0;
                    for (var i = 0; i < dataList.length; i++) {
                        var theDataPoint = dataList[i];
                        var analysis = theDataPoint['FaceAnalysisResults'];
                        if (analysis && analysis.length > 0) {
                            var data = analysis[0]['EmotionResult'];
                            var containerDiv = $("<div>").addClass("containerDiv");
                            var emotions = ['Joy', 'Neutral', 'Surprise', 'Sadness', 'Disgust', 'Anger', 'Fear'];
                            var dataPointOut = {'date': k, 'joy': data['Joy'], 'neutral': data['Neutral'], 'sadness': data['Sadness'], 'disgust': data['Disgust'], 'anger': data['Anger'], 'surprise': data['Surprise'], 'fear': data['Fear']};
                            dataOut.push(dataPointOut);

                            plotGraph(dataOut);
                            
                            var pieData = [];
                            for (j = 0; j < emotions.length; j++) {
                                var newElement = $("<div>").text(emotions[j] + ": " + data[emotions[j]]);
                                containerDiv.append(newElement);
                                pieData.push({
                                    'age': emotions[j],
                                    'population': data[emotions[j]]
                                });
                            }
                            if (i == 0) {
                                plotData(pieData);
                                $("#data").append(containerDiv);
                            }
                        }
                        k++;
                    }
                    poll();
                });
            }, 200)
        }
        poll();



    var width = 480,
        height = 250,
        radius = Math.min(width, height) / 2;

    var color = d3.scaleOrdinal()
        .range(["#417505", "#7ED321", "#B8E986", "#D9F0FF", "#F8E81C", "#F6A623", "#D0011B"]);

    var arc = d3.arc()
        .outerRadius(radius - 10)
        .innerRadius(0);

    var labelArc = d3.arc()
        .outerRadius(radius - 40)
        .innerRadius(radius - 40);

    var pie = d3.pie()
        .sort(null)
        .value(function(d) { return d.population; });

    var svg = d3.select("#pie-chart").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var INITIAL = true;

    function plotData(data) {
          if (INITIAL) {
            var g = svg.selectAll(".arc")
              .data(pie(data))
              .enter()
              .append("g")
              .attr("class", "arc");

              g.append("path")
                  .attr("d", arc)
                  .style("fill", function(d) { return color(d.data.age); });

          } else {
            console.log(data);
            var path = svg.selectAll("path").data(pie(data)); // compute the new angles
             path.transition().duration(750).attrTween("d", arcTween);
          }
          INITIAL = false;
    }

    function plotGraph(data) {

          var element = document.getElementById("over-time").getElementsByTagName("g"), index;

          for (index = element.length - 1; index >= 0; index--) {
            element[index].parentNode.removeChild(element[index]);
          }

          var svg = d3.select("svg#over-time"),
            margin = {top: 20, right: 0, bottom: 50, left: 40},
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;

          var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var x = d3.scaleTime()
              .rangeRound([0, width]);

          var xAxis = d3.axisBottom()
              .scale(x)
              .tickFormat(d3.timeFormat("%H:%M:%S"));

          var y = d3.scaleLinear()
              .rangeRound([height, 0]);

          var yAxis = d3.axisLeft()
              .scale(y);

          var joyLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.joy); });

          var neutralLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.neutral); });

          var sadnessLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.sadness); });

          var disgustLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.disgust); });

          var angerLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.anger); });

          var surpriseLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.surprise); });

          var fearLine =  d3.line()
              .x(function(d) { return x(d.date); })
              .y(function(d) { return y(d.fear); });

          x.domain(d3.extent(data, function(d) { return d["date"]; }));
          //y.domain(d3.extent(data, function(d) { return d.close; }));
          y.domain([0, 1]);

          d3.axisBottom().tickValues(0);

          g.append("g")
              .attr("class", "axisHERE axis--x")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)
              .style("text-anchor", "end")
              .selectAll("text")
              .attr("transform", "rotate(-90)");


          g.append("g")
              .attr("class", "axis axis--y")
              .call(yAxis);

          g.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", joyLine)
              .attr("stroke", "#417505");
              //.attr("stroke", "green");

          g.append("path")
              .datum(data)
              .attr("class", "line")
              //.attr("stroke", "purple")
              .attr("stroke", "#7ED321")
              .attr("d", neutralLine);

          g.append("path")
              .datum(data)
              .attr("class", "line")
              //.attr("stroke", "blue")
              .attr("stroke", "#D9F0FF")
              .attr("d", sadnessLine);

          g.append("path")
              .datum(data)
              .attr("class", "line")
              //.attr("stroke", "brown")
              .attr("stroke", "#F8E81C")
              .attr("d", disgustLine);

          g.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", angerLine)
              .attr("stroke", "#F6A623");
              //.attr("stroke", "red");

          g.append("path")
              .datum(data)
              .attr("class", "line")
              //.attr("stroke", "orange")
              .attr("stroke", "#B8E986")
              .attr("d", surpriseLine);

          g.append("path")
              .datum(data)
              .attr("class", "line")
              //.attr("stroke", "black")
              .attr("stroke", "#D0011B")
              .attr("d", fearLine);

          var emotionData = d3.scaleOrdinal()
            .domain(["Joy", "Neutral", "Sadness","Disgust","Anger","Surprise","Fear"]);
    }

    // Store the displayed angles in _current.
    // Then, interpolate from _current to the new angles.
    // During the transition, _current is updated in-place by d3.interpolate.
    function arcTween(a) {
      var i = d3.interpolate(this._current, a);
      this._current = i(0);
      return function(t) {
        return arc(i(t));
      };
    }

    function type(d) {
      d.population = +d.population;
      return d;
    }

    </script>
{% endblock %}