<script>
    // Amplitude analytics.
    (function(t,e){var n=t.amplitude||{};var r=e.createElement("script");r.type="text/javascript";
    r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.8.0-min.gz.js";
    r.onload=function(){t.amplitude.runQueuedFunctions()};var s=e.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(r,s);var i=function(){this._q=[];return this};function o(t){
    i.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    return this}}var a=["add","append","set","setOnce","unset"];for(var u=0;u<a.length;u++){o(a[u]);
    }n.Identify=i;n._q=[];function c(t){n[t]=function(){n._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    }}var l=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify"];
    for(var p=0;p<l.length;p++){c(l[p])}t.amplitude=n})(window,document);

    if (isProduction()) {
        amplitude.init("{{ AMPLITUDE_KEY }}", null, {
            includeUtm: true,
            includeReferrer: true
        });

        {% if current_user.id %}
            amplitude.setUserId('{{ current_user.id }}');
        {% endif %}

        var identify = new amplitude.Identify();
        {% if current_user.first_name %}
            identify.set('first_name', '{{ current_user.first_name }}');
        {% endif %}
        {% if current_user.last_name %}
            identify.set('last_name', '{{ current_user.last_name }}');
        {% endif %}
        {% if current_user.email %}
            identify.set('email', '{{ current_user.email }}');
        {% endif %}

        var eventData = {};
        {% for key, value in request.view_args.iteritems() %}
            eventData["{{ key }}"] = "{{ value }}";
        {% endfor %}
        {% for key, value in request.values.iteritems() %}
            eventData["{{ key }}"] = "{{ value }}";
        {% endfor %}

        {% set request_id = request.headers.get('X-Request-ID') %}
        {% if request_id %}
            eventData['request_id'] = "{{ request_id }}";
        {% endif %}
        amplitude.logEvent("{{ request.endpoint }}", eventData);
    }
</script>