{% extends "app.html" %}

{% block body %}
    <br/><br/><br/>
    <h1>Welcome to your reporting kiosk. What do you want to do?</h1>
    <br/><br/>
    <div class="option">
        <img src="/assets/video.png" height="40px" style="margin-top: -10px">
        PROBE
    </div>
    <a href="/webcam" style="text-decoration: none;"><div class="option">
        <img src="/assets/pencil.png" height="40px" style="margin-top: -10px; margin-left: -20px;">
        FILE
    </div></a>
    <div class="option">
    <img src="/assets/question.png" height="40px" style="margin-top: -10px; margin-left: -20px;">
        ASK
    </div>
{% endblock %}